<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>Referral_Hub_Emails/Forgot_Password_Email</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>true</disableReputationRecordConversations>
    <emailSenderAddress>updates@cp.clinicalresearch.com</emailSenderAddress>
    <emailSenderName>IQVIA Referral Hub</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>true</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>true</enableUpDownVote>
    <forgotPasswordTemplate>Referral_Hub_Emails/Forgot_Password_Email</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <lockoutTemplate>Referral_Hub_Emails/User_Lockout_Email</lockoutTemplate>
    <logoutUrl>https://cp.clinicalresearch.com/secur/logout.jsp</logoutUrl>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>PI</label>
            <position>1</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Dashboard</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/dashboard</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>My Referrals</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/my-referrals</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>My Referring Clinics</label>
                    <position>2</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/my-referring-clinics</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Reports</label>
                    <position>3</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/reports</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Help</label>
                    <position>4</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/help</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>HCP</label>
            <position>2</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Dashboard</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/dashboard</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>My Patients</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/my-patients</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Medical Record Review Log</label>
                    <position>2</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/medical-record-review-log</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>My Study Sites</label>
                    <position>3</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/my-study-sites</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Reports</label>
                    <position>4</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/reports</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Help</label>
                    <position>5</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/help</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Participant</label>
            <position>3</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Help</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/help</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>iqvia customer community plus login user</profile>
        <profile>admin</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>VisualForce</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Designer</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Designer</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>IQVIA_Referral_Hub_C</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>IQVIA_Referral_Hub</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <welcomeTemplate>Referral_Hub_Emails/Initial_Email</welcomeTemplate>
</Network>
