.THIS.csr-container .rrs-container,
.THIS.csr-container .slds-form-element__control.slds-grow,
.THIS.csr-container .csr-header,
.THIS.csr-container {
    width: 100%;
}
.THIS .csr-header{
    word-wrap: break-word;
    white-space: pre;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 10px;
}