/**
 * Created by Leonid Bartenev
 */
.THIS .vp-body{
    padding-top: 30px;
    padding-bottom: 100px;
}

.THIS .contact-info-title{
    color: #666666;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
}