/**
 * Created by Leonid Bartenev
 */
.THIS .study-view-header{
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.THIS .section-header{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.THIS .referrals-status-section{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.THIS .completions-section{
}

.THIS .referral-status-panel{
    padding-top: 25px;
}

.THIS .sources{
    color: #666666;
    font-size: 14px;
    display: inline-block;
    width: 60px;
    padding-left: 17px;
}

.THIS .tabs-container{
    display: inline-block;
    width: calc(100% - 60px);
}

.THIS .tabs{
    display: flex;
    padding: 10px;
}

.THIS .tabs li{
    color: #297DFD;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.2s;
}

.THIS .tabs li.active{
    font-weight: 600;
    color: #424242;
}

.THIS .tabs li:not(:last-child){
    border-right: 2px solid #D9D9D9;
}


.THIS .export-btn{
    float: right;
    color: #297DFD;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    border: 0.5px solid #999999;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 4px 15px;
}

.THIS .export-btn svg{
    width: 16px;
    margin-right: 10px;
}