/**
 * Created by Leonid Bartenev
 */

.THIS.reviw-status{
    white-space: nowrap;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
}

.THIS.reviw-status.green {
    color: #00C82B;
}

.THIS.reviw-status.red {
    color: #E63F5B;
}

.THIS.reviw-status .rr-icon-default{
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.THIS.reviw-status.green .rr-icon-default {
    fill: #00C82B;
}

.THIS.reviw-status.red .rr-icon-default {
    fill: #E63F5B;
}