/**
 * Created by Kryvolap on 13.09.2018.
 */
.THIS.dlit-container {
    padding: 20px;
}
.THIS .dlit-table th{
    font-size: 14px;
    font-weight: bold;
}
.THIS .dlit-table td, .THIS .dlit-table th{
    padding-top: 5px;
    padding-bottom: 5px;
}
.THIS .dlit-table td{
    border-top: 0.5px solid #999999;
    color: #666666;
}
.THIS .dlit-table th:nth-child(n+2){
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.THIS .dlit-table td:nth-child(n+2){
    text-align: center;
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
.THIS .greenIcon svg {
    fill: #00C221;
}